@import "../../global.scss";


#content {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    margin-left: 30px;

    &.active {
      background-color: $mainColor;
      color: white;
    }
  }