@import "../../global.scss";

.works {
  background-color: rgb(148, 148, 148);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 110px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 300px;
      color: $mainColor;
    }

    &.right {
      right: 300px;
      color: $mainColor;
      animation: arrowBlink 0.5s infinite;
      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }

  .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-in-out;

    @include mobile {
      height: 90vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      @include mobile {
        overflow: hidden;
      }

      .item {
        width: 980px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $mainColor;

        @include mobile {
          width: 90%;
          height: 84px;
          overflow: hidden;
          margin-top: 5px;
          margin: 3 25px;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mobile {
            flex: 8;
          }
          .leftContainer {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgContainer {
              width: 75px;
              height: 75px;
              border-radius: 50%;
              background-color: lightslategray;
              display: flex;
              align-items: center;
              justify-content: center;
             

              @include mobile {
               display: none;
              }

              .img {
                width: 35px;
                
              }
            }
            h2 {
              font-size: 30px;

              @include mobile {
                font-size: 15px;
              }
            }

            p {
              font-size: 20px;

              @include mobile {
                font-size: 13px;
              }
            }

            span {
              font-size: 18px;
              font-weight: bold;
              text-decoration: underline;
              cursor: pointer;

              @include mobile {
                font-size: 10px;
                padding-bottom: 5px;
              }
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          background-color: linen;

          @include mobile {
            flex: 8;
          }
          img {
            width: 400px;
            height: 280px;
            transform: rotate(-10deg);
            box-shadow: 20px 20px 20px;
            border-radius: 10px 10px 10px;

            @include mobile {
              transform: rotate(-10deg);
              height: 70px;
              width: 70px;
              }
          }
        }
      }
    }
  }
}
